DATABASE_URL=postgresql://<user>:<password>@<host>:<port>/<database>
TEST_DATABASE_URL=postgresql://<user>:<password>@<host>:<port>/<test_database>
MONAD_RPC_URL=https://<monad-mainnet-rpc-provider>
PRIVY_APP_ID=<privy-app-id>
PRIVY_JWT_VERIFICATION_KEY=<privy-jwt-verification-key>
PORT=3000
